<div class="container">
  <ol>
    <li>Add a Button which say 'Display Details '</li>
    <li>Add a paragraph with any content of your choice (e,i 'Secret Password = tuna ')</li>
    <li>Toggle the displaying of the paragrph with the button created in first step </li>
    <li>Log out Button click in an array and output that array below secret paragraph (maybe log a
      timestamp or simply an incrementing number)</li>
      <li>Starting at the 5th log item , give all falure log items a blue bckground (via ngStyle)
        and while color (via ngClass)
      </li>
  </ol>

  <!-- <button class="btn btn-primary" (click)="showSecret=!showSecret">Display Details</button> -->
  <button class="btn btn-primary" (click)="onToggleDetails()">Display Details</button>

  <br>
  <br>
  <p *ngIf="showSecret">Secret-Password=tuna</p>
  <div *ngFor="let arrayItem of array" [ngStyle]="{backgroundColor:arrayItem>=5 ? 'blue' : 'transparent'}"
    [ngClass]="{'white-text':arrayItem>=5  }">
    {{ arrayItem }}</div>
</div>
