<div class="container">

  <!-- <label for="serverName">Server Name</label> -->
  <!-- event binding in input tag  -->
  <!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)">
  <p>{{ serverName }}</p> -->


  <label for="serverName">Server Name</label>
  <!-- two way binding in input tag  -->
  <input type="text" class="form-control" [(ngModel)]="serverName">

  <!-- //property binding disabled   -->
  <!-- event binding onclick -->
  <br>
  <button class="btn btn-primary" [disabled]="!allowedNewServer" (click)="onCreateServer()">Add Server</button>
  <br>
  <hr>
  <!-- <p>{{ serverName }}</p> -->
  <!-- string interpulation  -->
  <!-- <p [innerText]="allowedNewServer"></p> -->
  <!-- <p>{{ serverCreationStatus }}</p> -->

  <p *ngIf="serverCreated">Server was Created, server name is {{ serverName }}</p>

  <!-- <p *ngIf="serverCreated;  else noServer">Server was Created, server name is {{ serverName }}</p>
  <ng-template #noServer>
    <p> No Server was Created !!</p>
  </ng-template> -->

  <app-server *ngFor="let server of servers"></app-server>
</div>
