<div class="container">

  <!-- <label for="serverName">Server Name</label> -->
  <!-- event binding in input tag  -->
  <!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)">
  <p>{{ serverName }}</p> -->


  <label for="serverName">Server Name</label>
  <!-- two way binding in input tag  -->
  <input type="text" class="form-control" [(ngModel)]="serverName" >
  <!-- <p>{{ serverName }}</p> -->

  <!-- //property binding disabled   -->
  <!-- event binding onclick -->
<button class="btn btn-primary" [disabled]="!allowedNewServer" (click)="onCreateServer()">Add Server</button>
<br>
<hr>
<!-- string interpulation  -->
<!-- <p [innerText]="allowedNewServer"></p> -->
<p>{{ serverCreationStatus }}</p>

<app-server></app-server>
<app-server></app-server>
</div>

